In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

import statistics
from statistics import mode

In [2]:
data = pd.read_csv("imdb_top_250_movies.csv")

In [3]:
df = pd.DataFrame(data).reset_index()

In [4]:
actors_list = df['Actors'].tolist()

In [5]:
mode(actors_list)

'Mark Hamill, Harrison Ford, Carrie Fisher'

In [23]:
df.columns

Index(['index', 'Unnamed: 0', 'Title', 'Year', 'Rated', 'Released', 'Runtime',
       'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country',
       'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes',
       'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website',
       'Response'],
      dtype='object')

In [6]:
df

,index,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,0,0,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,Drama,Frank Darabont,"Stephen King, Frank Darabont",...,81.0,9.3,"2,651,602",tt0111161,movie,21 Dec 1999,"$28,767,189",NaN,NaN,True
1,1,1,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",...,100.0,9.2,"1,840,332",tt0068646,movie,11 May 2004,"$136,381,073",NaN,NaN,True
2,2,2,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Goyer",...,84.0,9.0,"2,628,154",tt0468569,movie,09 Dec 2008,"$534,987,076",NaN,NaN,True
3,3,3,The Godfather Part II,1974,R,18 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo",...,90.0,9.0,"1,260,911",tt0071562,movie,24 May 2005,"$47,834,595",NaN,NaN,True
4,4,4,12 Angry Men,1957,Approved,10 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,Reginald Rose,...,96.0,9.0,"782,913",tt0050083,movie,04 Mar 2008,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,245,Dersu Uzala,1975,G,20 Dec 1977,142 min,"Adventure, Biography, Drama",Akira Kurosawa,"Akira Kurosawa, Yuriy Nagibin, Vladimir Arsenev",...,NaN,8.2,"29,901",tt0071411,movie,22 Mar 2007,NaN,NaN,NaN,True
246,246,246,Aladdin,1992,G,25 Nov 1992,90 min,"Animation, Adventure, Comedy","Ron Clements, John Musker","Ron Clements, John Musker, Ted Elliott",...,86.0,8.0,"417,939",tt0103639,movie,13 Oct 2015,"$217,350,219",NaN,NaN,True
247,247,247,The Help,2011,PG-13,10 Aug 2011,146 min,Drama,Tate Taylor,"Tate Taylor, Kathryn Stockett",...,62.0,8.1,"458,386",tt1454029,movie,06 Dec 2011,"$169,708,112",NaN,NaN,True
248,248,248,Gandhi,1982,PG,25 Feb 1983,191 min,"Biography, Drama",Richard Attenborough,John Briley,...,79.0,8.1,"231,604",tt0083987,movie,20 Feb 2007,"$52,767,889",NaN,NaN,True
249,249,249,The Iron Giant,1999,PG,06 Aug 1999,86 min,"Animation, Action, Adventure",Brad Bird,"Tim McCanlies, Brad Bird, Ted Hughes",...,85.0,8.1,"196,293",tt0129167,movie,27 Sep 2005,"$23,315,035",NaN,NaN,True

## Writers Count

In [7]:
df["Writer"].mode()

0    Charles Chaplin
Name: Writer, dtype: object

In [8]:
df["Writer"].value_counts()

Charles Chaplin                                  4
J.R.R. Tolkien, Fran Walsh, Philippa Boyens      3
Ingmar Bergman                                   3
Stephen King, Frank Darabont                     2
Christopher Markus, Stephen McFeely, Stan Lee    2
                                                ..
Thea von Harbou, Fritz Lang, Egon Jacobsohn      1
Robert Bolt, Michael Wilson                      1
Ales Adamovich, Elem Klimov                      1
Ernest Lehman                                    1
Tim McCanlies, Brad Bird, Ted Hughes             1
Name: Writer, Length: 233, dtype: int64

In [9]:
writer_list = df['Writer'].tolist()
all_writers = [item.split(', ') for item in writer_list]

all_writers = [item for l in all_writers for item in l]

In [10]:
pd.Series(all_writers).value_counts()

Stanley Kubrick      7
Christopher Nolan    7
Akira Kurosawa       6
Quentin Tarantino    5
Jonathan Nolan       5
                    ..
Ales Adamovich       1
Robert Bolt          1
Egon Jacobsohn       1
John Houseman        1
Ted Hughes           1
Length: 437, dtype: int64

## Actor Count

In [11]:
df["Actors"].mode()

0    Mark Hamill, Harrison Ford, Carrie Fisher
Name: Actors, dtype: object

In [12]:
df["Actors"].value_counts()

Mark Hamill, Harrison Ford, Carrie Fisher                         3
Tim Robbins, Morgan Freeman, Bob Gunton                           1
Leonardo DiCaprio, Tom Hanks, Christopher Walken                  1
Jason Flemyng, Dexter Fletcher, Nick Moran                        1
Ray Milland, Grace Kelly, Robert Cummings                         1
                                                                 ..
Keir Dullea, Gary Lockwood, William Sylvester                     1
Zain Al Rafeea, Yordanos Shiferaw, Boluwatife Treasure Bankole    1
Harvey Keitel, Tim Roth, Michael Madsen                           1
Mads Mikkelsen, Thomas Bo Larsen, Annika Wedderkopp               1
Eli Marienthal, Harry Connick Jr., Jennifer Aniston               1
Name: Actors, Length: 248, dtype: int64

In [13]:
actor_list = df['Actors'].tolist()
all_actors = [item.split(', ') for item in actor_list]

all_actors = [item for l in all_actors for item in l]

In [14]:
pd.Series(all_actors).value_counts()

Robert De Niro       9
Leonardo DiCaprio    6
Tom Hanks            6
Harrison Ford        6
Christian Bale       5
                    ..
Inge Landgut         1
Ellen Widmann        1
Peter Lorre          1
Dorothy Comingore    1
Jennifer Aniston     1
Length: 588, dtype: int64

### Genre Count

In [15]:
df["Genre"].mode()

0    Drama
Name: Genre, dtype: object

In [16]:
df["Genre"].value_counts()

Drama                           19
Crime, Drama                    14
Animation, Adventure, Comedy    10
Crime, Drama, Mystery            9
Biography, Drama, History        8
                                ..
Drama, Sci-Fi                    1
Action, Thriller                 1
Comedy, Drama, Family            1
Comedy, Music, Romance           1
Comedy                           1
Name: Genre, Length: 104, dtype: int64

In [17]:
genre_list = df['Genre'].tolist()
all_genres = [item.split(', ') for item in genre_list]

all_genres = [item for l in all_genres for item in l]

In [18]:
 pd.Series(all_genres).value_counts()

Drama        176
Adventure     60
Action        51
Crime         51
Comedy        46
Mystery       31
Thriller      30
Biography     29
Romance       23
War           23
Animation     23
Sci-Fi        20
Fantasy       14
Family        13
History        9
Western        6
Horror         5
Sport          5
Music          4
Film-Noir      4
Musical        1
dtype: int64

## Director Count

In [19]:
df["Director"].value_counts()

Martin Scorsese         7
Stanley Kubrick         7
Christopher Nolan       7
Steven Spielberg        7
Akira Kurosawa          7
                       ..
Elem Klimov             1
Orson Welles            1
Thomas Vinterberg       1
Nadine Labaki           1
Richard Attenborough    1
Name: Director, Length: 160, dtype: int64

In [20]:
df["Director"].mode()

0       Akira Kurosawa
1    Christopher Nolan
2      Martin Scorsese
3      Stanley Kubrick
4     Steven Spielberg
Name: Director, dtype: object

In [21]:
director_list = df['Director'].tolist()
all_directors = [item.split(', ') for item in director_list]

all_directors = [item for l in all_directors for item in l]

In [22]:
pd.Series(all_directors).value_counts()

Stanley Kubrick         7
Christopher Nolan       7
Steven Spielberg        7
Akira Kurosawa          7
Martin Scorsese         7
                       ..
Nadine Labaki           1
Michel Gondry           1
Richard Marquand        1
Rajkumar Hirani         1
Richard Attenborough    1
Length: 175, dtype: int64

In [24]:
df["Rated"].value_counts()

R            102
PG            37
PG-13         34
Not Rated     24
G             19
Passed        16
Approved      13
TV-PG          1
Unrated        1
X              1
TV-MA          1
GP             1
Name: Rated, dtype: int64